.txt-primary {
    color: #DB0F38 !important;
}

input::placeholder {
    color: #a6a6a6 !important;
    font-weight: 300 !important;
    /* color: #818181!important; */
}

.form_boxes label {
    font-weight: 500 !important;
    color: #000 !important;
}

button[type='submit']:disabled {
    opacity: 0.8;
    cursor: unset;
}

.footer-bottom a {
    color: #fff;
    margin-right: 45px;
}

.dashboard-widget .side-bar .nav-list li a img {
    width: 100% !important;
    height: auto !important;
}

.mb-sortBy {
    margin-bottom: 0;
}

.mb-tabs {
    display: flex !important;
    flex-wrap: nowrap !important;
    width: max-content !important;
}

.myBookingSec{
    padding: 15px!important;
}
/* my bookings card */
.nav-scroll-x::-webkit-scrollbar {
    display: none;
}

.car-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.car-card {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
}

.car-image {
    line-height: 0 !important;
}

.car-image img {
    border-radius: 8px;
    /* object-fit: cover; */
    width: auto;
    /* height: revert-layer !important; */
}

.car-info {
    display: flex;
    margin-left: 20px;
    justify-content: space-evenly;
    flex-direction: column;
}

.car-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #111827;
}

.vin {
    color: #6b7280;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: normal;
}

.mb-details {
    color: #6b7280;
    font-size: 14px;
    margin: 0;
}

/* .mb-details span.badge.text-danger.me-1{
    font-w
} */

.booking-info {
    text-align: right;
    font-size: 14px;
    color: #374151;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mb-booking-details img,
.mb-booking-details svg {
    vertical-align: baseline;
}

.booking-info strong {
    font-weight: 600;
    color: #6b7280c5;
}

.booking-info p {
    margin-bottom: 0;
    color: #6b7280c5;
    font-size: 12px;
    line-height: normal;
}

.d-status.badge {
    /* font-size: 14px; */
}

.mb-info-box {
    display: flex;
}

.nav-tabs#bookingTab {
    width: 100% !important;
    white-space: nowrap;
    margin: 0 0 16px;
}

.mb-title-listing{
    margin-bottom: 38px;
}
.mb-filtBtn{
    outline: none!important;
    box-shadow: none!important;
}

button:focus,
.btn:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
}
select:focus{
    border: 1px solid lightgray!important;
}

.detail-sec .mbd-top-card{
    border-radius: 12px;
}

/* car listing */
.cl-rightBox{
    padding-top: 12px!important;
    width: 75%!important;
    /* border-radius: 0!important;
    border: none!important; */
}
.cl-contentBoxTwo::before{
    height: 155px!important;
    top: -10px!important;
    /* top: 0!important; */
}
.cl-leftBox{
    width: 25%;
}


@media (max-width: 1200px) {
    .booking-info {
        display: none;
    }

    .mb-info-box {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .mb-info-box {
        width: 70%;
    }

    .booking-info {
        display: flex;
    }

    /* .car-image,
    .car-image img {
        width: 100%;
    } */
    /* .car-info {
        margin-left: 0;
    } */
    /* .car-card {
        flex-direction: column;
        align-items: flex-start;
    } */
}

@media (max-width: 768px) {

    /* my bookings card */
    .nav-scroll-x {
        overflow-x: auto;
    }

    .nav-tabs#bookingTab {
        width: max-content !important;
    }

    .mb-info-box {
        display: block;
        margin-top: 0;
        width: 100%;
    }

    .detail-sec .info-item{
        text-align: left!important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dotted lightgray;
    }
    .detail-sec .mbd-top-card{
        padding: 0;
        box-shadow: none!important;
    }
    .car-card {
        padding: 0;
    }

    /* .booking-info {
        display: none;
    } */
    .mb-mobile-hidden{
        display: none;
    }

    .car-info {
        margin-left: 0;
        padding: 14px 10px;
    }

    .car-image,
    .car-image img {
        width: 100%;
        height: auto!important;
    }

    .car-card .mb-details {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
    }

    .car-card p {
        margin: 0;
        line-height: 1.6 !important;
    }

    .car-title {
        font-size: 16px;
        margin-bottom: 0;
    }

    .mb-fs-row{
        width: 100%;
        justify-content: space-between;
    }
    .mb-sbox{
        width: 100%!important;
    }

    .mb-card-right-box{
        position: absolute;
        right: 10px;
        top: 10px;
    }

    /* mbd */
    .mbd-car-card{
        display: block;
    }
    .mbd-car-card .mb-card-right-box{
        position: unset;
        flex-direction: row-reverse!important;
        padding: 0 15px;
        align-items: center;
        padding:  0 10px 14px;
    }
    .mbd-car-card .car-info{
        padding-bottom: 0;
    }

    /* .booking-info {
        text-align: left;
        margin-top: 10px;
        display: none;
    } */

}
